<%- include('partials/header') -%>

<main class="container">
    <div class="row justify-content-around mt-5">
        <a href="/login" class="col-3 btn btn-primary"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
    </div>
    <div class="container 2">
        <img src="/imgs/Capture.PNG"/> 
        <h1> About</h1>
        <h2>Bob's Burgers is an American animated sitcom created by Loren Bouchard for Fox Broadcasting Company. The show centers on a family that runs a hamburger restaurant called Bob's Burgers. Loren Bouchard stated that Bob's Burgers came out because of Fox's animation brand centers mostly on family, but that he also wanted to dabble in workplace comedy</h2>
        <h1> Characters </h1>
        <img src ="/imgs/Capture2.PNG">
    </div>

</main>
    

<%- include('partials/footer') -%>